/*********************************************************************
This is free and unencumbered software released into the public domain.

Anyone is free to copy, modify, publish, use, compile, sell, or
distribute this software, either in source code form or as a compiled
binary, for any purpose, commercial or non-commercial, and by any
means.

For more information, please refer to <http://unlicense.org/>
*********************************************************************/

/*
WiTeX
https://github.com/AndrewBelt/WiTeX
*/


/* Latin Modern (LaTeX default) font */

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: normal;
	font-style: normal;
	src: url('//andrewbelt.github.io/WiTeX/fonts/lmroman10-regular.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: bold;
	font-style: normal;
	src: url('//andrewbelt.github.io/WiTeX/fonts/lmroman10-bold.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: normal;
	font-style: italic;
	src: url('//andrewbelt.github.io/WiTeX/fonts/lmroman10-oblique.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: bold;
	font-style: italic;
	src: url('//andrewbelt.github.io/WiTeX/fonts/lmroman10-boldoblique.woff') format('woff');
}

/* Page Layout */

body {
	background: none;
	font-size: 16pt;
}

body {
	font-family: 'Latin Modern Roman', serif;
}

h1, h2, h3, h4, h5, h6 {
	border: none;
	font-weight: bold;
}

a, a:visited {
	color: #a00;
}

ul {
	list-style: disc;
}

#mw-navigation, #mw-page-base, #mw-head-base, #footer {
	/* nuke everything but the content */
	display: none;
}

/* Content Box */

.mw-body {
	max-width: 720px;
	margin: 2em auto;
}

#content {
	border: none;
	color: black;
}

#firstHeading, #siteSub {
	text-align: center;
	display: block;
}

.mw-body h1, .mw-body h2 {
	font-family: inherit;
}

#siteSub {
	margin-bottom: 4em;
}

/* Article Body */

.mw-editsection {
	/* hide more non-content */
	display: none;
}

.mw-body-content {
	text-align: justify;
}

dl dd {
	/* center definitions (most useful for display equations) */
	text-align: center;
}

span.texhtml {
	/* revert inline math to default font */
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* Table of Contents */

#toc, .toc {
	border: none;
	padding: 0;
	background: none;
}

.mw-body #toc h2, .mw-body .toc h2 {
	font-family: inherit;
}

#toc h2, .toc h2 {
	display:block;
}

#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
	text-align: left;
}

.toctoggle {
	display: none;
}
